<header class='home'>
    <div class='container mt-4'>
        <div class='wrapper'>
            <a href="#">
                <img class='logo' src="https://media.istockphoto.com/vectors/book-logo-template-vector-id1256528848?b=1&k=20&m=1256528848&s=612x612&w=0&h=T9559DTJrWCW2aVrIpQgcxl515QitubN_Bikya3w27k=" alt="logo">
            </a>
            <h2>Thư viện sách</h2>
            <div class='account-btn'>
                <a href='/user/login'>
                    <button type='button' class='btn btn-primary'>Đăng nhập</button>
                </a>
                <a href='/user/sign-up'>
                    <button type='button' class='btn btn-info'>Đăng ký</button>
                </a>
            </div>
        </div>
    </div>
</header>
<div class='container mt-4'>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope='col'>Tiêu đề</th>
                <th scope='col'>Tác giả</th>
                <th scope='col'>Thể loại</th>
                <th scope='col'>Ngày phát hành</th>
                <th scope='col'>Số Trang</th>
            </tr>
        </thead>
        <tbody>
            {{#each books}}
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.category}}</td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.numberOfPage}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>